.footer-contacts__contacts {
  margin-right: 70px;
}
.footer-contacts__contacts--visualyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.footer-contacts__logo-footer {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #ffffff;

  display: block;
  align-items: center;
  margin-bottom: 20px;
}
.footer-contacts__logo-type-footer {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: $accent-color;
}
.footer-contacts__logo-footer--link {
  text-decoration: none;
}
