.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}
.flex-footer {
  display: flex;
  align-items: baseline;

  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
